<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/global.css" />
    <link rel="stylesheet" href="style/signup.css" />
    <title>Tic.io</title>
  </head>
  <body>
    <table>
      <tr>
        <td class="td">O</td>
        <td class="td"></td>
        <td class="td"></td>
      </tr>
    </table>

    <input
      type="text"
      class="input"
      id="input_ID"
      placeholder="ID: "
      autocomplete="off"
    />
    <br />
    <button class="btn" id="btn_checkID">Check ID</button>
    <br />
    <input
      type="text"
      class="input"
      id="input_PW"
      placeholder="PW: "
      autocomplete="off"
    /><br />
    <input
      type="text"
      class="input"
      id="input_PWCheck"
      placeholder="PW Check: "
      autocomplete="off"
    /><br />

    <button class="btn" id="btn_next">Next</button>

    <script src="client/signup/userInfo.js"></script>
    <script src="client/signup/userData.js"></script>
  </body>
</html>
